:root {
  --blue-100: #dbeafe;
  --blue-400: #60a5fa;
  --red-100: #fee2e2;
  --red-400: #f87171;
  --green-100: #d1fae5;
  --green-400: #34d399;
  --orange-100: #ffedd5;
  --orange-400: #fb923c;
}

.foodlist-parent-container {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  padding: 2rem;
}

.foodlist-parent-container > p {
  font-weight: bold;
  font-size: 2rem;
}

@media screen and (max-width: 500px) {
  .foodlist-parent-container {
    margin-top: 1rem;
    padding: 1rem;
  }
  .foodlist-parent-container > p {
    font-size: 1.25rem;
  }
}

.cart-table-div {
  overflow: hidden;
  overflow: auto;
  /* padding: 1rem; */

  /* max-height: 500px;
  height: 100%; */

  max-width: 1000px;
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.cart-table {
  border-bottom: 0.1rem solid black;
  width: 100%;
  min-width: 700px;
}

.cart-table > thead > tr > th {
  padding: 0.5rem;
  background-color: var(--blue-100);
  color: var(--blue-400);
}

.cart-table > tbody > tr:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: var(--green-100);
  color: var(--green-400);
}

.cart-table > tbody > tr > td {
  padding: 1.5rem;
}

.cart-table > tbody > tr > td > img {
  max-width: 5rem;
}

.cart-table > tbody > tr > td:last-child {
  display: flex;
  flex-flow: row wrap;
  gap: 0.5rem;
  align-items: center;
  justify-content: center; 
  /* height:100px; */
}

.cart-table > tbody > tr > td:last-child button {
  /* border: 1px solid black;
  align-self: center;  */
}

@media screen and (max-width: 500px) {
  .description {
    display: none;
  }
  .cart-table > tbody > tr > td {
    font-size: 0.75rem;
  }
  .cart-table > tbody > tr > td > img {
    max-width: 2.5rem;
  }
}

.empty-cart {
  text-align: center;
  color: lightslategray;
  font-size: 1.15rem;
  font-weight: 500;
  padding: 1rem;
}

/* .list-table {
  width: 100%;
}

.list-table-format {
  display: grid;
  grid-template-columns: 50px 1.5fr 1fr 2fr 0.7fr 0.7fr 0.5fr;
  align-items: center;
  gap: 10px;
  padding: 12px 15px;
  border: 1px solid #cacaca;
  font-size: 13px;
}

.list-table-format.title {
  background-color: #f9f9f9;
  font-weight: bold;
}

.list-table-format img {
  width: 50px;
  border-radius: 4px;
}

.list-table-format p {
  margin: 0;
}

.list-table-format .description {
  text-align: justify;
}

.list {
  width: 70%;
  margin-left: max(5vw, 25px);
  margin-top: 50px;
  color: #6d6d6d;
  font-size: 16px;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-width: 1000px;
} */

/* .add {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

.actions-div {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
}

.remove-item,
.edit-item {
  background-color: transparent;
  border: none;
}

.remove-item > svg,
.edit-item > svg {
  width: 20px;
  height: 20px;
}

.edit-item > svg {
  color: darkgreen;
}

.remove-item > svg {
  color: darkred;
}

@media screen and (max-width: 800px) {
}

/* @media (max-width: 1200px) {
  .list-table-format {
    grid-template-columns: 40px 1.5fr 1fr 2fr 0.6fr 0.6fr 0.5fr;
    font-size: 12px;
  }
}

@media (max-width: 900px) {
  .list-table-format {
    grid-template-columns: 40px 1.2fr 1fr 1.5fr 0.5fr 0.5fr 0.4fr;
    font-size: 11px;
  }
}

@media (max-width: 600px) {
  .list-table-format {
    grid-template-columns: 30px 1fr 1fr 1fr 0.5fr 0.5fr 0.4fr;
    font-size: 10px;
  }
} */
